---
layout: layout
comments: true
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://github.com/imsurinder90" target="_blank">
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        Hello My name is Surinder Kumar, I am Python and Javascript developer from India and work at EnterpriseDB as a software engineer.<br/>
        I enjoy working on Python(primarily) and other latest technologies such as Node.js, React and like to contribute to open source projects.
      </p>

    </section>
  </section>
</section>

{% include disqus.html %}